.wr {
	width:100%;
	margin: 0px auto;
	text-align: left;
}
.trigger,.trigger a {
	display: block;
	width: 104px;
	height: 19px;
	text-indent: -999999em;
	overflow: hidden;
}
.trigger {
	background: url(../images/btn_notes.png) no-repeat 0px 0px;
}
.noteclose {
	background: url(../images/btn_notes.png) no-repeat 0px -19px;
}
.cnt {
	display: none;
}
.cl {
	width: 100%;
	clear: both;
	line-height: 0px;
	font-size: 0px;
}