/* Top page */
/* note : top, right, bottom, left*/
body {
	margin:0 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:transparent;
}
.app_title {
	font-size:18px;
	font-weight:bold;
	color:#2C445C;
}
.menu_navigation_bgcolor {
	background-color:#34A5B1;
	color: white;
	font-size:12px;
	font-weight:bolder;
}
a.menu_navigation {
	color: white;
	text-decoration:none;
}
a.menu_navigation:hover {
	color: #972020;
	text-decoration:underline;	
}
.line_color {
	background-color:#2C445C;
}

/* Link A */
a.small_link {
	font-size: 10px;
	font-weight:bold;
	color: #2C445C;
	text-decoration:none;
}
a.small_link_white {
	font-size: 10px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
a.small_link:hover {
	font-size: 10px;
	font-weight:bold;
	color: #972020;
	text-decoration:underline;
}
a.medium_link {
	font-size: 11px;
	font-weight:bold;
	color: #2C445C;
	text-decoration:none;
}
a.medium_link:hover {
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-decoration:underline;
}
img.img_link{
	border:1px solid #FFFFFF;
	cursor:pointer;
}
img.img_link_disabled{
	border:1px solid #FFFFFF;
}
img.img_link:hover{
	border:1px solid #972020;
	cursor:pointer;
}
/* table */
table.excel_grid {	
	border:1px solid #AAAAAA;
	cursor:pointer;
}
table.data_grid {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
}
td.data_gridIJIN {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
}
td.data_gridLOG {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
}
td.data_gridAL {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
}
td.data_gridOFF {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
	color:#FFFFFF;
	background:#000000;
}
td.data_gridSKT {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
}
td.data_gridCL {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;	
	cursor:pointer;
}
td.data_grid_headerxxx{
	background-color: #35afe3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
	background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #90D2F1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	vertical-align:top;
	margin-top:8px;
	margin-bottom:2px;
	padding: 8px 8px 8px 8px;
}
tr.data_grid_header{
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;

}
td.data_grid_header {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #4cae4c;
	font-size:11px;
	font-weight:bold;	
	background-color:#05A09C;
	color: white;
	vertical-align:middle;
	border-left:1px solid #CCCCCC;
	padding:0px 2px 0px 2px;
	height:22px;
}
tr.data_grid_header2{
	border-left:1px solid #f09514;
	border-right:1px solid #f09514;

}
td.data_grid_header2 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 191, 113)),to(rgb(38, 222, 219)));
	background-image: -webkit-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -moz-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -o-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -ms-linear-gradient(top, rgb(237, 171, 76), rgb(237, 171, 76));
	background-image: linear-gradient(top, rgb(19, 229, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #f09514;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;	
	font-size:10px;
	font-weight:bold;	
	background-color:#055674;
	color: white;
	vertical-align:middle;
	border-left:1px solid #f09514;
	padding:0px 2px 0px 2px;
	height:22px;
}
tr.data_grid_header3{
	border-left:1px solid #a66dab;
	border-right:1px solid #a66dab;

}
td.data_grid_header3 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 191, 113)),to(rgb(38, 222, 219)));
	background-image: -webkit-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -moz-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -o-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -ms-linear-gradient(top, rgb(199, 154, 203), rgb(199, 154, 203));
	background-image: linear-gradient(top, rgb(19, 229, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #a66dab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;	
	font-size:10px;
	font-weight:bold;	
	background-color:#055674;
	color: white;
	vertical-align:middle;
	border-left:1px solid #a66dab;
	padding:0px 2px 0px 2px;
	height:22px;
}
tr.data_grid_header4{
	border-left:1px solid #c68072;
	border-right:1px solid #c68072;

}
td.data_grid_header4 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 191, 113)),to(rgb(38, 222, 219)));
	background-image: -webkit-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -moz-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -o-linear-gradient(top, rgb(245, 191, 113), rgb(38, 222, 219));
	background-image: -ms-linear-gradient(top, rgb(233, 180, 169), rgb(233, 180, 169));
	background-image: linear-gradient(top, rgb(19, 229, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #c68072;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;	
	font-size:10px;
	font-weight:bold;	
	background-color:#055674;
	color: white;
	vertical-align:middle;
	border-left:1px solid #c68072;
	padding:0px 2px 0px 2px;
	height:22px;
}
td.data_grid_group {
	font-size:11px;
	background-color:#8AC2BC;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	font-weight:bold;
	color:#FFFFFF;
	padding:3px 2px 3px 4px;
}
td.data_grid_footer {
	font-size:11px;
	background-color:#E7EB9E;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	font-weight:bold;
}
td.data_grid {
	font-size:11px;
	font-weight:normal;
	color:#333333;
	padding:1px 2px 0px 2px; 
	border-left:1px inset #EEE;
	border-bottom:1px inset #EEE;	
	vertical-align:top;
	height:30px;
}
div.data_grid {
	font-size:11px;
	vertical-align:middle;	
	padding:3px;
	min-height:18px;
	height:auto;
	width:inherit;
}
input.data_grid{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	width:25px;
	border:1px solid #000000;
	height:14px;  
	font-size:11px;
}

/* Module */
.module_button{
	font-family:Arial;
	border:1px outset #2C445C;
	background-color:#055674;
	color:white;
	font-size:12px;
	font-weight:bold;
	height:22px;
	cursor:pointer;
}
.module_button:hover{
	color:#2C445C;
}
.module_header{
	background-color:#055674;
	color: white;
	font-size:14px;
	font-weight:bold;
}
.field_label{
	font-family:Arial;
	color: #2C445C;
	font-size:12px;
}
.field_text{
	font-family:Arial;
	border:1px solid #2C445C;
	font-size:12px;
	height:18px;
}

/*Message Box*/
.msgbox_header{
	font-family:Arial; 
	font-size:14px; 
	font-weight:bold; 
	color:white;
	background-color:#972020;
}
.msgbox_content{
	font-family:Arial; 
	font-size:12px; 
	color:#691616;
	background-color:#FFFFFF;
	text-decoration:blink;
}
.msgbox_div{
	position:absolute; 
	z-index:10001;
}

/* TAB */
td.tab_button{
	border:1px solid #517D3E;
	background-color:#BADAB6;
	height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#999999;
	text-align:center;
	cursor:pointer;	
}
td.tab_button:hover, td.tab_button_active{
	border:1px solid #517D3E;
	background-color:#517D3E;
	height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#FFFFFF;
	text-align:center;
	cursor:pointer;	
}
/* FORM */

div.form_header{
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#18445C;
	position:absolute;
	z-index:5000;
	vertical-align:bottom;
}
.form_frame_overflow{
	position:absolute;
	z-index:5000;
	border:1px #94A0BE solid;
	overflow:auto;
	visibility: visible;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; border:solid thin #CCC;border-radius:6px; background-color:#F7F7F7; padding:7px;
}
.form_frame{
	position: absolute;
	z-index: 5000;
	visibility: visible;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border: solid thin #CCC;
	border-radius: 6px;
	background-color: #F7F7F7;
	padding: 7px;
	left: 17px;
	top: 120px;
}
.form_frame_fix{
	z-index:5000;
	border:1px #94A0BE solid;
	visibility: visible;
}
td.form_menu{
	border-bottom:1px #FFFFFF solid;
	border-right:1px #FFFFFF solid;
	border-top:1px #FFFFFF solid;
	border-left:1px #FFFFFF solid;
	background-color:#5cb85c;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#FFFFFF;
	text-align:center;
	cursor:pointer;
}
td.form_menu:hover{
	background-color:#398439;
	text-align:center;
	cursor:pointer;
}
td.form_icon_menu{
	padding-left:5px;
	padding-right:5px;
}
td.form_label{
	font-family:Arial, Helvetica, sans-serif;
	color: #1C445C;
	font-size:11px;
	padding-top:5px;
	padding-bottom:5px;
}
td.form_label_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:2px 0px 2px 2px;
}
td.form_label_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:1px 0px 1px 2px;
}
td.form_label_3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0px 0px 0px 0px;
	color: #1C445C;
}

input.form_label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:20px;
	padding:3px 6px;font-size:12px;line-height:1.42857143;color:#555;background-color:#DDF0FF;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.form_text{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
	font-size:11px;
	color: #333333;
	height:25px;
	margin:2px;
}

textarea.form_area{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
	font-size:11px;
	color: #333333;
	margin:2px;
}

textarea.form_area_label{
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	padding:3px 6px;font-size:12px;line-height:1.42857143;color:#555;background-color:#DDF0FF;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

select.form_select{	
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #CCCCCC;
	height:25px;
	color: #333333;
	margin:2px;
	z-index:25000;
}

select.form_select_noarrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	border:1px solid #CCCCCC;
	height:20px;
	color: #333333;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	margin:2px;
	z-index:25000;
}
select.form_select_noarrow::-ms-expand {
    display: none;
}
[disabled] { /* Text and background colour, medium red on light yellow */
color:#DDDDDD;
background-color:#D7FFE4;
}
textarea.form_textarea{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #2C445C;
	font-size:11px;
}
select.form_list{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #2C445C;
	cursor:pointer;
}
input.form_button{
	background-color:#5cb85c;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	border:1px outset #2C445C;
	z-index:5000;
	height:22px;
	color:#FFF;
}
input.form_button:hover{
	cursor:pointer;
	background-color:#8FADC5;
}
input.form_buttonxxx{
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#34A5B1;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	height:23px;
	line-height:20px;
	width:72px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	position:absolute;
	z-index:5000;
}
input.form_buttonxxx:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
input.form_buttonxxx:active {
	position:relative;
}
input.form_button_fix{
	background-color:#B1CBD8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	border:1px outset #2C445C;
	z-index:5000;
	height:22px;
}
input.form_button_fix:hover{
	cursor:pointer;
	background-color:#8FADC5;
}

.left_inline{float:left; display:inline;}

.frame_gray{background-color:#EBEBEB; padding:10px; border:solid thin #CCC;border-radius:6px}


/*TABS*/
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 .5em 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
}

#content {
  background: #fff;
  padding: 2em;
  height: 220px;
  position: relative;
  z-index: 2; 
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

.note_bubble{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	padding:15px;
	color: #464646;
	background-color:#E6FFCA;
	border: solid 1px #CCCCCC;
	margin-right:10px;
	-webkit-border-radius: 5px; /* for safari ios */
	-moz-border-radius:5px; /*for moz */
	border-radius:5px; /*for all*/
	 text-align:left;
	 max-width:250px;
	 height:auto !important;
	 position:absolute;
	 float:right;
	 right:150px;
	 top:0px;
	-webkit-transition: background 1.55s ease;
	-moz-transition: background 1.55s ease;
	-ms-transition: background 1.55s ease;
	-o-transition: background 1.55s ease;
	transition: background 1.55s ease;  
	z-index:999999;
}
